if SHIELD_CORNE_DONGLE

config ZMK_KEYBOARD_NAME
    default "Corne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORNE_DONGLE || SHIELD_CORNE_P_LEFT || SHIELD_CORNE_P_RIGHT

config ZMK_SPLIT
    default y

endif
